/******************/
/* Global styles */
/****************/

* {
  box-sizing: border-box;
}

/******************/
/* Header styles */
/****************/


/***********************/
/* Play button styles */
/*********************/

.play {
  width: 75px;
  height: 40px;
  background-color: #6E7783;
  border-radius: 10px;
  border: 1px solid #F0F1F2;
  color: white;
  font-size: 14px;
}

.play:hover {
  background-color: #F0F1F2;
  border: 1px solid #6E7783;
  color: #6E7783;
  font-size: 20px;
}

/**********************/
/* Scoreboard styles */
/********************/

header {
  width: 500px;
  height: 100px;
  font-family: 'Arvo', serif;
  margin: 0 auto;
  color: #6E7783;
}

.lives-display {
  font-size: 24px;
}

.score-board {
  text-align: center;
}

.level-display {
  float: left;
}

.score-display {
  float: right;
}

/****************/
/* Grid styles */
/**************/

.grid {
  width: 700px;
  height: 700px;
  background-color: #D3D6D9;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px;
}

/****************/
/* Tile styles */
/**************/

.tiles {
  width: 155px;;
  height: 155px;
  background-color: #6E7783;
  float: left;
  /*border: 1px solid white;*/
  margin: 5px 5px;
  border-radius: 10px;
  /*box-shadow: 3px 3px #e2e3e6;*/
}

.show {
  background-color: #F0F1F2;
}

.chosen {
  background-color: #9DC3C1;
}

.right {
  background-color: #77AAAD;
}

.wrong-button {
  background-color: #D3D6D9;
}

.wrong-pattern {
  font-family: 'Arvo', serif;
  background-color: #916684;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  text-align: center;
  padding-top:  50px;
  font-size: 42px;
  font-weight: 800;
  color: #F0F1F2;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/******************/
/* Footer styles */
/****************/

footer {
  height: 60px;
  background-color: #6E7783;
}

footer p {
  font-family: 'Arvo', serif;
  text-align: center;
  margin-top: 70px;
  padding-top: 22px;
  color: #F0F1F2;
  font-size: 14px;
}
