/******************/
/* Global styles */
/****************/

* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

/******************/
/* Button styles */
/****************/

.play-btn {
  width: 300px;
  height: 100px;
  background-color: #9DC3C1;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  font-size: 42px;
  display: block;
  margin: 0 auto;
  margin-top: 250px;
}

.play-btn:hover {
  background-color: #77AAAD;
  color: white;
  font-size: 48px;
  cursor: pointer;
}

.play-btn:focus,
.restart-btn:focus {
  outline: none;
}

.restart-btn {
  width: 200px;
  height: 75px;
  background-color: #9DC3C1;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.restart-btn:hover {
  background-color: #77AAAD;
  transition: all .3s linear;
  cursor: pointer;
}

.grow {
  transition: all .3s linear;
}

.grow:hover {
  background-color: #77AAAD;
  transform: scale(1.1);
}

/**********************/
/* Scoreboard styles */
/********************/

header {
  width: 500px;
  height: 100px;
  font-family: 'Arvo', serif;
  margin: 0 auto;
  color: #6E7783;
}

.score-board {
  margin-top: 20px;
}

.lives-display {
  font-size: 24px;
}

.score-board {
  text-align: center;
}

.level-display {
  float: left;
}

.score-display {
  float: right;
}

.heart {
  height: 20px;
  width: 20px;
}

.invis {
  color: white;
}
/****************/
/* Grid styles */
/**************/

.grid {
  width: 700px;
  height: 700px;
  background-color: #D3D6D9;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 20px;
}

.start-grid {
  background-color: white;
  border: 7px solid #6E7783;
}

.game-over {
  background-color: white;
  border: 7px solid #6E7783;
  color: #6E7783;
  font-size: 68px;
  text-align: center;
  padding-top: 225px;
}

/****************/
/* Tile styles */
/**************/

.tiles {
  width: 155px;;
  height: 155px;
  background-color: #6E7783;
  float: left;
  /*border: 1px solid white;*/
  margin: 5px 5px;
  border-radius: 10px;
  /*box-shadow: 3px 3px #e2e3e6;*/
}

.hover {
  background-color: #A8ADB4;
  cursor: pointer;
}

.show {
  background-color: #F0F1F2;
}

.chosen {
  background-color: #9DC3C1;
}

.right {
  background-color: #77AAAD;
}

.wrong-button {
  background-color: #D3D6D9;
}

.wrong-pattern {
  font-family: 'Arvo', serif;
  background-color: #916684;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  text-align: center;
  padding-top:  50px;
  font-size: 42px;
  font-weight: 800;
  color: #F0F1F2;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/******************/
/* Footer styles */
/****************/

footer {
  height: 60px;
  background-color: #6E7783;
}

footer p {
  font-family: 'Arvo', serif;
  text-align: center;
  margin-top: 45px;
  padding-top: 25px;
  color: #F0F1F2;
  font-size: 14px;
}
